.song-details-card {
  margin: 10px;
  border: 5px solid black !important;
  background: lightsalmon;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: black;
  width: 80%;
}

/* New container for centering */
.song-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.music-title {
  color: white;
  font-size: 50px;
  margin-bottom: 2rem;
  border: 5px solid black !important;
  background-color: lightsalmon;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.song-details-card .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black;
}

.song-details-card .card-text {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: black;
}

.key-link {
  color: blue;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.key-link:hover {
  color: white;
  cursor: url('/logo.svg'), auto;
}

.comments-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.comment-box {
  margin: 10px;
  border: 5px solid white !important;
  background: black;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: white;
}

.comment-box .comment-user {
  font-weight: bold;
  margin-bottom: 5px;
  color: lightsalmon;
}

.comment-box .comment-body {
  font-size: 1.2em;
  color: white;
}
