.submit-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(45deg, rgb(18, 84, 110), white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  }
  
  .submit-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(2, 0, 17) !important
  }
  
  .form-group {
    margin-bottom: 15px
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(2, 0, 17) !important
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: rgb(2, 194, 146) !important;
    color: rgb(19, 0, 194) !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px
  }
  
  button:hover {
    background-color: #0056b3
  }
  
  .submit-page form {
    display: flex;
    flex-direction: column
  }
  