@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

.splash-container {
    margin-top: 5rem;
    padding: 5rem;
    background-color: lightsalmon;
    border-radius: 2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: white;
}

.splash-container h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bolder;
    font-style: italic;
}

.splash-container h2 span {
    font-family: 'Playwrite', cursive;
    font-size: 1rem;
    font-weight: bolder;
    font-style: italic;
    color: white;
    display: block;
    margin-bottom: 2rem;
}

.splash-container button {
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.splash-container button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
